.detail_wrapper {
    position: relative;
    margin: 75px 0;
    & .back_btn {
        position: absolute;
        top: -50px;
        left: 50px;
        color: black;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $primary;
        }
    }
    & .content_item {
        padding: 5px 10px;
        margin-bottom: 20px;
        border: 2px solid black;
        border-radius: 20px;
    }
    & .image {
        & img {
            width: 100%;
            height: auto;
            border: 2px solid black;
            border-radius: 20px;
        }
    }
    & .detail_buttons {
        & button {
            margin: 20px 30px 0;
            border: 2px solid black;
        }
    }
}
