.filter_wrapper {
    height: 500px;
    background-image: url(../images/andere_bg.jpg);
    &.hond_bg {
        background-image: url(../images/hond_bg.jpg);
    }
    &.kat_bg {
        background-image: url(../images/kat_bg.jpg);
    }
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    & .filter_form {
        background-color: white;
        border: 4px solid $primary;
        border-radius: 0 0 20px 20px;
        padding: 20px 40px;
        & input {
            border: none;
            border-bottom: 1px solid black;
        }
        & select {
            padding: 5px 10px;
            border: none;
        }
        & button {
            border: 2px solid black;
        }
    }
}

.dogs_list {
    margin-top: 75px;
    margin-bottom: 30px;
    &_item {
        margin-bottom: 30px;
        & a {
            width: 100%;
            color: white;
            & .item_content {
                position: relative;
                border: 2px solid black;
                border-radius: 20px;
                height: auto;
                & img {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                }
                transition: all 0.3s ease-in-out;
                & .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #303030;
                    opacity: 0.4;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    transition: all 0.3s ease-in-out;
                }
                & .race {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    font-size: 1.5rem;
                    @media (max-width: 991px) {
                        font-size: 1.2rem;
                    }
                }
                & .bookmark {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }
                & .info {
                    position: absolute;
                    bottom: 10px;
                    left: 15px;
                    & p {
                        margin-bottom: 0;
                        @media (max-width: 991px) {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            &:hover {
                & .item_content {
                    border: 2px solid $primary;
                }
                & .overlay {
                    opacity: 0.7;
                }
            }
        }
    }
}

.pagination {
    width: 150px;
    margin: 0 auto;
    & a {
        color: black;
        font-size: 1.3rem;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out;
        &:hover {
            color: $primary;
            text-decoration: none;
            cursor: default;
        }
        &.active {
            color: $primary;
            text-decoration: underline;
        }
        &.disabled {
            color: #959595;
        }
    }
}
