$primary: #2176d2;
$secundary: #081e35;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./header.scss";
@import "./footer.scss";
@import "./pagination.scss";
@import "./listPage.scss";
@import "./detailPage.scss";
@import "./userPages.scss";
@import "./newMessagePage.scss";
@import "./chatPage.scss";

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
}
