$primary: #2176d2;
$secundary: #081e35;

@import "../node_modules/bootstrap/scss/bootstrap";
// @import "./header.scss";
// @import "./footer.scss";
// @import "./listPage.scss";
// @import "./detailPage.scss";

body {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
